<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}
  <title>{{ page.title }} - Joseph P. MacManus</title>
  <meta name="description" content="The blog of a Maths/CompSci student at
  Bristol University. Find varying amounts of combinatorics, algebra, and other
  exciting things found in the world of mathematics and/or computer science.">

  <meta name="keywords" content="Student,Bristol,University,Maths,Computer Science">

  <link rel="stylesheet" href="/assets/css/styles.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet"> -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?"/>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap" rel="stylesheet">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      CommonHTML: { linebreaks: { automatic: true } },
      "HTML-CSS": { linebreaks: { automatic: true } },
             SVG: { linebreaks: { automatic: true } }
    });
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- fade-in control -->
  <noscript>
      <style>.fadein {opacity: 1;}</style>
  </noscript>
  <script src="/assets/js/fadeins.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138771820-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138771820-1');
  </script>

  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}
</head>
