<h1 class="underlined-header">Who am I?</h1>

<img id="dp" src="{{site.baseurl}}/assets/images/me2.jpg">

<h3 style="
    margin-bottom: 12px;
    margin-top: 16px;
">
  Hello.
</h3>

<p id="bio">
My name is Joseph, and I'm a recent graduate from Bristol University.
Next term I will begin study of the <a href="https://www.maths.ox.ac.uk/study-here/postgraduate-study/msc-mathematics-and-foundations-computer-science">MFoCS</a>
at Oxford University.
</p>
<p id="bio">
This site was built from scratch during my second year at Bristol, and
serves as a space for me to write about topics with varying levels of technicality.
</p>


<!-- <br> -->
- <img src="/assets/images/icons/linkedin-16x16.png">
<a class="sidebar-link" href="https://www.linkedin.com/in/jpmacmanus">LinkedIn Profile</a>
<br>
<br>
- <img src="/assets/images/icons/github-16x16.png">
<a class="sidebar-link" href="https://github.com/jpmacmanus">GitHub Profile</a>
<br>
