<!-- to add another link:
        - add new div and link below, similarly to the others
        - update width in sidebar-bio.scss as instructed there.
      -->

<div class="sidebar-link-cont-cont">
  <div class="sidebar-link-cont">
    <a href="https://www.linkedin.com/in/jpmacmanus">
      <img src="/assets/images/icons/linkedin-48px.svg"
           class="sidebar-link-img"
           onerror="this.onerror=null; this.src='/assets/images/icons/linkedin-48px.png'">
    </a>
  </div>

  <div class="sidebar-link-cont">
    <a href="https://github.com/jpmacmanus">
      <img src="/assets/images/icons/github-48px.svg"
           class="sidebar-link-img"
           onerror="this.onerror=null; this.src='/assets/images/icons/github-48px.png'">
    </a>
  </div>

  <div class="sidebar-link-cont">
    <a href="https://twitter.com/jpmacmanus11">
      <img src="/assets/images/icons/twitter-48px.svg"
           class="sidebar-link-img"
           onerror="this.onerror=null; this.src='/assets/images/icons/twitter-48px.png'">
    </a>
  </div>
</div>
