@import "utilities/variables";

.banner {
  position: relative;
  min-width: 100%;
  overflow: hidden;
  height: 400px;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
}

.bannergradient {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, $main-colour 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,$main-colour 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,$main-colour 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
