@import "utilities/variables";

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  clear: both;
  border-top: 1px solid $border-colour;
  width: 100%;
  margin: auto;
  // text-align: center;
  padding-top: 32px; /* footer height*/
  height: $footer-height; /* footer height*/
  background-color: $highlight-colour;
  color: $header-link-colour;
}

.footer-cnt {
  width: $page-width-1;
  margin: auto;
}

.footer-left {
  display: inline-block;
  float: left;
}
.footer-right {
  display: inline-block;
  float: right;
  text-align: right;
}

a.footer-link:link {
  color: $header-link-colour;
  text-decoration: underline;
}

a.footer-link:visited {
  color: $header-link-colour;
}

a.footer-link:hover {
  color: $active-header-link;
}

a.footer-link:active {
  color: $active-header-link;
}
