@import "utilities/variables";

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  clear: both;
  border-top: 1px solid #555555;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20px; /* footer height*/
  height: 30px; /* footer height*/
  background-color: $jet-black;
  color: $highlight-colour;
}

a.footer-link:link {
  color: $highlight-colour;
  text-decoration: underline;
}

a.footer-link:visited {
  color: $highlight-colour;
}

a.footer-link:hover {
  color: $moonstone;
}

a.footer-link:active {
  color: $moonstone;
}
