@import "utilities/variables";

.header {
  border-bottom: 1px solid $border-colour;
  margin: 0;
  padding: 0;
  width: 100%;
  vertical-align: middle;
  // min-height:52px;
  display: block;
  overflow: hidden;
  // position: fixed;
  // background-color: $jet-black;
  z-index: 999;
  // position: fixed;
  background-color: $bg-colour;
}

.linkContainer {
  width: $page-width-1;
  margin: auto;
}

.headerRight {
  float: right;
  // overflow: hidden;
}

.headerItem {
  //display: inline-block;
  font-size: 1.5em;
  padding: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  float: left;
  border-bottom: 2px solid $bg-colour;
}

#current {
  color: $vermillion;
  //font-style: italic;
  //font-weight: bolder;
  // text-decoration: underline;
  border-bottom: 2px solid $vermillion;
}

a.headerItem:link {
  color: $header-link-colour;
  text-decoration: none;

}

a.headerItem:visited {
  color: $header-link-colour;
  text-decoration: none;
}

a.headerItem:hover {
  color: $active-header-link;
  //font-weight: bolder;
  background-color: $highlight-colour;
  border-bottom: 2px solid $highlight-colour;
}

a.headerItem:active {
  color: $active-header-link;
  text-decoration: none;

}


#namelink {
  // border-right: 1px solid #555555;
  float: left;
  // font-size: 2em;
  // padding: 7px;
  color: $active-header-link;
}
