@import "utilities/variables";

.header {
  border-bottom: 1px solid $header-link-colour;
  margin: auto;
  padding: 0;
  width: 100%;
  vertical-align: middle;
  min-height:52px;
  display: block;
  overflow: hidden;
  position: fixed;
  background-color: $main-colour;
  z-index: 999;
}

.linkContainer {
  width: 90%;
  margin: auto;
}

.headerRight {
  float: right;
  overflow: hidden;
}

.headerItem {
  //display: inline-block;
  font-size: 24px;
  padding: 12px;
  font-family: 'Apple Garamond', serif;
  float: left;
}

a.headerItem:link {
  color: $header-link-colour;
  text-decoration: none;

}

a.headerItem:visited {
  color: $header-link-colour;
  text-decoration: none;
}

a.headerItem:hover {
  color: $active-header-link;
  //font-weight: bolder;
  text-decoration: none;
  background-color: $highlight-colour;
}

a.headerItem:active {
  color: $active-header-link;
  text-decoration: none;
}

#current {
  color: $active-header-link;
  //font-style: italic;
  font-weight: bolder;
}

#namelink {
  // border-right: 1px solid #555555;
  float: left;
  font-size: 33px;
  padding: 7px;
  font-weight: normal;
  color: $active-header-link;
}
