@import "utilities/variables";

.header {
  border-bottom: 1px solid #d6d9dc;
  margin: 0 0 16px 0;
  padding: 0;
  width: 100%;
  vertical-align: middle;
  min-height:52px;
  display: block;
  overflow: hidden;
  // position: fixed;
  // background-color: $jet-black;
  z-index: 999;
}

.linkContainer {
  width: 100%;
  margin: auto;
}

.headerRight {
  float: right;
  // overflow: hidden;
}

.headerItem {
  //display: inline-block;
  font-size: 24px;
  padding: 12px;
  font-family: 'Raleway', sans-serif;
  float: left;
}

#current {
  // color: $snow-white;
  //font-style: italic;
  //font-weight: bolder;
  text-decoration: underline;
}

a.headerItem:link {
  color: $jet-black;
  text-decoration: none;

}

a.headerItem:visited {
  color: $jet-black;
  text-decoration: none;
}

a.headerItem:hover {
  color: $reg-black;
  //font-weight: bolder;
  // background-color: $header-link-colour;
}

a.headerItem:active {
  color: $moonstone;
  text-decoration: none;
}



#namelink {
  // border-right: 1px solid #555555;
  float: left;
  font-size: 33px;
  padding: 7px;
  font-weight: normal;
  // color: $snow-white;
}
