
@import "utilities/variables";

@font-face {
 font-family: "Apple Garamond";
 src: url("../fonts/AppleGaramond-Light.ttf");
}

html {
  height: 100%;
}

body {
  overflow-y: scroll;
  position: relative;
  margin: 0;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: $reg-black;
  background-color: $bg-colour;
  font-size: 1em;
  // padding-bottom: 120px; /* footer height*/
}

h1,h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h1 {
  margin-bottom: 16px;
}
h1.underlined-header {
  padding-bottom: 16px;
  border-bottom: 1px solid $border-colour;
}
h2 {
  font-weight: 400;
}
// h3 {
//   // font-size: 1.25em;
// }

// h1.pagetitle {
//   font-family: 'Apple Garamond', serif;
//   font-weight: lighter;
//   padding: 0;
//   font-size:6em;
//   border: none;
//   display: inline-block;
//   margin: 16px 32px;
// }

#trans-cnt {
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  display: inline-block;
  margin: 32px;
}

#banner-cnt {
  width: 100%;
  margin: 0;
  text-align: center;
  background: url('/assets/images/geometric.png');
}

a {
  text-decoration: none;
  color: $accent-colour;
}

p {
  // font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}

// any element with this class will be transparent initially and fade in.
.fadein {
  opacity: 0;
}

.root {
  display: block;
  position: relative;
  width: 100%;
  //height: 100vh;
  min-height: 100vh;
  margin: auto;
  background-color: #fefefe;
  box-shadow: 0 0 10px grey;
}

.mainContainer {
  width: $page-width-1;
  // minheight: auto;
  margin: 0 auto;
  padding-bottom: $footer-height + 48px;
  overflow-y: auto;
}

#bio-sidebar {
  //display: inline-block;
  float: left;
  width: 231px;
  height: 100%;
  padding: 0 16px 0 0 ;

}

#content-cnt {
  float: left;
  width: 100%;
  max-width: $page-width-1 - 2*$std-padding;
  padding: 0 $std-padding;
  height: auto;
  margin:auto;
  // border-left: 1px solid $border-colour;
}

#inner-content { // only used in default-plus layout
  float: left;
  width: $page-width-1 - $right-sidebar-width - 4*$std-padding - 2px;
  padding-right: 16px;
}

div.post-preview {
  margin-bottom: -5em;
  border-top: 1px solid $border-colour;
  padding: 0 16px;
}

a.read-more-link {
  font-size: 1.2em;
  font-style: italic;
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  top: -6em;
  height: 0;
  padding-top: 7em;
  margin: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fefefe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefefe', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  font-family: 'Source Sans Pro', sans-serif;
}

div.no-read-more-padding {
  width: 100%;
  position: relative;
  top: -6em;
  height: 0;
  padding-top: 7em;
  margin: 0;
}

div.just-comments {
  font-family: sans-serif;
}
div.footer {
  font-family: sans-serif;
}
