
@import "utilities/variables";

@font-face {
 font-family: "Apple Garamond";
 src: url("../fonts/AppleGaramond-Light.ttf");
}

html {
  height: 100%;
}

body {
  overflow-y: scroll;
  position: relative;
  margin: 0;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  background-color: #DDDDEF;
  // font-size: 16px;
  // padding-bottom: 60px; /* footer height*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Apple Garamond', serif;
  font-weight: lighter;
}

h1.pagetitle {
  text-align: center;
  font-size:96px;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

// any element with this class will be transparent initially and fade in.
.fadein {
  opacity: 0;
}

.root {
  display: block;
  position: relative;
  width: 100%;
  //height: 100vh;
  min-height: 100vh;
  margin: auto;
  background-color: $main-colour;
  box-shadow: 0 0 10px grey;
}

.mainContainer {
  width: 1264px;
  // minheight: auto;
  margin: 0 auto;
  padding-bottom: 80px;
  overflow-y: auto;
}

#bio-sidebar {
  //display: inline-block;
  float: left;
  width: 231px;
  height: 100%;
  padding: 16px;

}

#content-cnt {
  float: left;
  max-width: 968px;
  padding: 0 16px;
  height: auto;
  margin:auto;
  border-left: 1px solid #d6d9dc;
}

#inner-content { // only used in default-plus layout
  float: left;
  width: 652px;
  padding-right: 16px;
}

@media only screen and (max-width:1300px) {
    #content-cnt {
      width:564px;
    }
    .mainContainer {
      width: 864px;
    }

    #right-sidebar {
      display: none;
    }
    #inner-content {
      width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    #bio-sidebar {
        display: none;
    }
    #content-cnt {
      float: none;
      width: 80%;
      max-width:none;
      border-left-width: 0;
    }
    .mainContainer {
      width: 100%;
    }
    #inner-content {
      width: 100%;
    }
}
