#optional-tag-display {
  display: none;
}

@media only screen and (max-width:1300px) {
    #content-cnt {
      width: $page-width-2 - (2 * $std-padding);
    }
    .mainContainer,.linkContainer,.footer-cnt {
      width: $page-width-2;
    }

    // unhides when sidebar isn't present
    #optional-tag-display {
      display: unset;
    }
    #right-sidebar {
      display: none;
    }
    #inner-content {
      width: 100%;
    }

    .headerItem {
      font-size: 1.2em;
    }
}

@media only screen and (max-width: 900px) {
    #bio-sidebar {
        display: none;
    }
    #content-cnt {
      float: none;
      width: 86%;
      max-width:none;
      border-left-width: 0;
    }
    .mainContainer {
      width: 100%;
      padding-bottom: 144px;
    }
    #inner-content {
      width: 100%;
    }
    .footer {
      height: 96px;
    }
    .footer-cnt, .linkContainer {
      width: 90%;
    }
    .footer-right, .footer-left {
      float: none;
      display: block;
      text-align: left;
    }
    .footer-right {
      margin-top: 6px;
    }

    .headerItem {
      font-size: 1em;
    }
    div.post-preview {
      padding: 0;
    }
}

// edit this width to change when the header wraps
@media only screen and (max-width: 500px) {
  .headerItem {
    display: inline-block;
    float: none;
    padding-top: 6px;
  }
  .headerRight {
    float: none;
    text-align: center;
  }
  #namelink {
    float: none;
    display: inline-block;
    padding: 12px 6px 6px 6px;
    font-size: 0.75em;
  }
  #namelink-wrapper {
    width: 100%;
    text-align: center;
  }

  p {
    text-align: left;
  }
}
