$main-colour: #fafafb;
$highlight-colour: #eff0f1;
$header-link-colour: #848d95;
$active-header-link: #3b4045;

$reg-black: rgba(0,0,0,0.87);
$jet-black: #30332E;
$snow-white: #FFFBFC;
$moonstone: #62BBC1;
$vermillion: #D33F49;

$oxford-blue: #002147;

$border-colour: #d6d9dc;

$page-width-1: 1264px;
$page-width-2: 864px;
$std-padding: 16px;

$right-sidebar-width: 316px;

$footer-height: 60px;

$bg-colour: #fefefe;


// change this variable to change the accent colour of the website
$accent-colour: $vermillion;
