$main-colour: #fafafb;
$highlight-colour: #eff0f1;
$header-link-colour: #848d95;
$active-header-link: #3b4045;

$reg-black: #010400;
$jet-black: #30332E;
$snow-white: #FFFBFC;
$moonstone: #62BBC1;
$vermillion: #D33F49;
