<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% feed_meta %}
    <title>{{ page.title }} - Joseph P. MacManus</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lato" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?"/>

    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/fadeins.js"></script>
    <script async src="https://just-comments.com/w.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138771820-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138771820-1');
    </script>
  </head>
  <body>
    <div class="root">
    {% include navigation.html %}
    <div class="banner fadein" style="background-image: url('{{ page.banner }}')">
      <div  class="bannergradient"></div>
    </div>
    <div class="mainContainer fadein" >
      <h1 class="pagetitle">{{ page.title }}.</h1>

      {% include sidebar-left.html %}

      <div id="content-cnt">
        {{ content }}
      </div>


    </div>

    {% include footer.html %}
  </div>
  </body>
</html>
