<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="root">

    <!-- <div class="banner fadein" style="background-image: url('{{ page.banner }}')">
      <div  class="bannergradient"></div>
    </div> -->
    {% include navigation.html %}
    <!-- <div id="banner-cnt">
      <div id="trans-cnt">
        <h1 class="pagetitle">{{ page.title }}.</h1>
      </div>
    </div> -->
    <div class="mainContainer" >
      <br />
      <script async src='https://cse.google.com/cse.js?cx=74dcb55e1eef25341'></script><div class="gcse-searchbox-only"></div>
      <br />
      <div id="content-cnt" class="fadein">
        {{ content }}
      </div>

    </div>

    {% include footer.html %}

  </div>
  </body>
</html>
