<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="root">

    <!-- <div class="banner fadein" style="background-image: url('{{ page.banner }}')">
      <div  class="bannergradient"></div>
    </div> -->
    <div class="mainContainer" >
      {% include navigation.html %}

      {% include sidebar-left.html %}

      <div id="content-cnt" class="fadein">
        <h1 class="pagetitle">{{ page.title }}.</h1>
        {{ content }}
      </div>


    </div>

    {% include footer.html %}
  </div>
  </body>
</html>
